<html>
    <head>
        <title> Unauthorized </title>
        <link rel="stylesheet" href="/public/css/myStyles.css">
    </head>
    <body>
        <header>
            <nav>
                <div class = topnav>
                    <ul class="topnavitems">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/userportal">User Portal</a></li>
                            <li><a href="/adminportal">Admin Portal</a></li>
                            <li><a href="/login">User Login</a></li>
                            <li><a href="/login">Admin Login</a></li>
                            <li><a href="/contact">Contact us</a></li>
                            <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>  
        </header>
        <div>
            <h1>Unauthorized access</h1>
        </div>
        <div>
            <p>You are not authenticated please login below</p>
            <a href='/'><button>Home</button></a>
            <a href='/login'><button>Login</button></a>

        </div>
        <footer class = 'footer'>&copy; Copyright 2019 Vijay Yadav</footer>
    </body>
</html>