<html>
    <head>
        <title> User page </title>
        <link rel="stylesheet" href="/public/css/myStyles.css">
    </head>
    <body>
        <header>
            <nav>
                <div class = topnav>
                    <ul class="topnavitems">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/userportal">User Portal</a></li>
                            <li><a href="/adminportal">Admin Portal</a></li>
                            <li><a href="/login">User Login</a></li>
                            <li><a href="/login">Admin Login</a></li>
                            <li><a href="/contact">Contact us</a></li>
                            <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </nav>  
        </header>
        <div>
            <!-- <h1>User html file</h1> -->
        </div>
        <a href='/getusers'><button>Get all Users</button></a><br>
        <br><br><br><br><a href='/logout'><button>Logout</button></a><br>
        <footer class = 'footer'>&copy; Copyright 2019 Vijay Yadav</footer>
    </body>
</html>